    <div class="row">
<div class="span11">
<h1><strong>Disclaimer</strong></h1>

<p>The data collected and published on this website is the outcome of a subjective analysis performed by anonymous users in the context of a scientific project (FP7 project <a href="http://www.simpolproject.eu">SIMPOL</a> funded by the European Commission under grant agreement 610704). In particular, the attribution of opinions to organizations by the users is purely subjective and does in no way represent the official position of the organization nor this of the scientists engaged in the project.</p>
            <h1 id="contact">{{ _('Contact information') }}</h1>
            <ul>
                <li>{{ _('For more info, send us an e-mail to: ') }}<a href="mailto:simpolcrowdsourcing@gmail.com">simpolcrowdsourcing@gmail.com</a> or <a class="btn" href="http://twitter.com/SimPolProject"><i class="icon-twitter"></i>{{ _('Follow us on Twitter!') }}</a></li>
            </ul>
        </div>
    </div>
